<section class="block--products">
  <header class="block__header">
    <h2>I want to buy...</h2>
  </header>
  <ul class="list block__features">
    <li>
      <a href="#"
        ><img src="/Images/soap.png" alt="" style="display: inline-block" />
        <p>Lorem, ipsum.</p>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/Images/soap.png" alt="" style="display: inline-block" />
        <p>Lorem, ipsum dolor.</p>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/Images/soap.png" alt="" style="display: inline-block" />
        <p>Lorem, ipsum.</p>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/Images/soap.png" alt="" style="display: inline-block" />
        <p>Lorem, ipsum.</p>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/Images/soap.png" alt="" style="display: inline-block" />
        <p>Lorem, ipsum dolor.</p>
      </a>
    </li>
  </ul>
</section>
