<section class="block">
  <header class="block__header">
    <h2>Lorem ipsum dolor sit amet...</h2>
  </header>
  <p class="block__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dolorum
    officiis eos, unde corrupti nesciunt deserunt quidem magnam illum fugiat.
  </p>
  <ul class="list block__features">
    <li>
      <img src="/Images/energy.png" alt="" style="display: inline-block" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
        architecto.
      </p>
    </li>
    <li>
      <img src="/Images/energy.png" alt="" style="display: inline-block" />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad,
        temporibus?
      </p>
    </li>
    <li>
      <img src="/Images/energy.png" alt="" style="display: inline-block" />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quo?</p>
    </li>
    <li>
      <img src="/Images/energy.png" alt="" style="display: inline-block" />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea, excepturi.
      </p>
    </li>
  </ul>
</section>
