<div class="hero_container hero__background">
  <header class="hero__header">
    <h1 class="hero__heading">The Sacred Fig</h1>
    <p class="hero__intro">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo quas
      nobis, corporis similique quam totam quod repellendus culpa doloribus
      fuga, dignissimos magnam tenetur. Corporis aperiam itaque aliquam
      doloribus voluptates tenetur?
    </p>
    <a href="#"
      ><button class="btn btn--streached">See all products</button>
    </a>
  </header>
</div>
