<section class="plan">
  <header class="plan__header">
    <h2>Most Loved Products</h2>
  </header>
  <ul class="list plan__items">
    <li>
      <img class="plan__image" src="Images/candle.jpg" alt="" />
      <h3 class="plan__product--header">Lorem ipsum dolor</h3>
      <p>Rs. 500</p>
      <button class="btn btn--accent btn--block">Add to cart</button>
    </li>
    <li>
      <img class="plan__image" src="Images/candle.jpg" alt="" />
      <h3 class="plan__product--header">Lorem ipsum dolor</h3>
      <p>Rs. 500</p>
      <button class="btn btn--accent btn--block">Add to cart</button>
    </li>
    <li>
      <img class="plan__image" src="Images/candle.jpg" alt="" />
      <h3 class="plan__product--header">Lorem ipsum dolor</h3>
      <p>Rs. 500</p>
      <button class="btn btn--accent btn--block">Add to cart</button>
    </li>
    <li>
      <img class="plan__image" src="Images/candle.jpg" alt="" />
      <h3 class="plan__product--header">Lorem ipsum dolor</h3>
      <p>Rs. 500</p>
      <button class="btn btn--accent btn--block">Add to cart</button>
    </li>
    <li>
      <img class="plan__image" src="Images/candle.jpg" alt="" />
      <h3 class="plan__product--header">Lorem ipsum dolor</h3>
      <p>Rs. 500</p>
      <button class="btn btn--accent btn--block">Add to cart</button>
    </li>
  </ul>
</section>
